<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edplan.bilipixeldraw" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
			android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		
		<activity 
			android:name=".PixelActivity"
			android:label="夏日绘版 网格化查看"
			android:theme="@style/AppTheme.NoActionBar">
			<intent-filter >
				<action android:name="android.intent.action.VIEW"/>
					
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="image/*" android:scheme="file"/>
			</intent-filter>
		</activity>
		
		<activity
            android:name=".WebActivity"
            android:label="@string/web_name" >
            <intent-filter>
                <action android:name="com.edplan.bililogin" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		
		<activity
            android:name=".JiaoChengActivity"
            android:label="教程" >
            <intent-filter>
				<action android:name="com.edplan.jc" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		
		
    </application>

	
	                        	
<uses-permission android:name="android.permission.INTERNET"/>
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
</manifest>
